@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 16px;
}

.main {
  height: 100vh;
  background-color: whitesmoke;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.links, .links:hover {
  color: dimgrey;
  cursor: pointer;
  text-decoration: none;
}

.links:hover #username {
  text-decoration: underline;
}

.brand-name {
  font-family: 'Lobster', cursive;
}

.bar {
  border: 1px solid white;
}
